.player-page{
  //border: 1px solid red;
  height: 760px;
  display: flex;
  justify-content: center;
  position: relative;
  background:rgba(0,0,0,.8);
  font-size: 14px;
  //播放列表和歌词外框
  .pageInfo{
    border: 1px solid red;
    //width: 85%;
    height: 688px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }
  //播放列表
  .player-list{
    border: 1px solid black;
    z-index: 2;
    //width: 56%;
    //position: absolute;
    height: 80%;
    //left: 7%;

    .userOpera{
      //border: 1px solid red;
      //width: 500px;
      display: flex;
      //justify-content: space-between;
      a{
        border: 1px solid rgba(225,225,225,.8);
        border-radius: 3px;
        width: 122px;
        height: 38px;
        margin: 0 6px 0 0;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:  #bdbdbe;
        .iconfont{
          margin: 0 5px;
        }
        &:hover{
          color: white;
          border-color: white;
        }
      }

    }
    //榜单内容
    .rank-wrap{
      border: 1px solid red;
      height: 90%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      &::-webkit-scrollbar{
        width: 8px;
        height: 10px;
        color: red;

      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.2);
        border-radius: 5px;
        &:hover{
          background-color: rgba(0,0,0,.3);
          width: 10px;
        }
      }



        //内容标题
      .content-nav-ul{
        //border: 1px solid red;
        display: flex;
        width: 100%;
        height: 50px;
        padding:0 95px 0 60px;
        background: transparent;
        color: #c9c9c9;
        margin: 30px 0 0 0;
        position: relative;

        .checkAll{
          //border: 1px solid red;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          &:hover{
            color: #FFFFFF;
          }

        }
        li{
          //border: 1px solid black;
          line-height: 50px;
        }
        .nav-li-0{
          width: 497.98px;
          height: 49.6px;
        }
        .nav-li-1{
          width: 215px;
          height: 49.6px;
        }
        .nav-li-2{
          width: 50px;
          height: 49.6px;
        }
      }
      input{
        position: relative;
        background-color: transparent;
        width: 15px;
        height: 15px;
        outline: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        font-size: inherit;
        color: inherit;
        border: 1px solid #999999;
      }
      input:checked {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        text-align: center;
        background-clip: padding-box;
      }
      input:checked::after{
        content: "✓";
        font-size: 10px;
        //font-weight: bold;
        color: #FFFFFF;
      }
      input:hover{
        border-color: #FFFFFF;
      }
      .song-info-ul{
        //border: 1px solid red;
        display: flex;
        padding: 0 0 0 44px;
        margin: 15px 0;
        color: #E1E1E1CC;
        position: relative;
        height: 50px;
        align-items: center;
        .checkInput{
          position: absolute;
          left: -4px;
        }

        li{
          //border: 1px solid red;
          height: 100%;
          display: flex;
          align-items: center;

        }
        .song-index{
          //margin: 0 10px;
          margin: 0 5px 0 0;
        }
        .song-title{
          width: 500px;
        }
        .song-singer{
          width: 216px;

        }
        .song-interval{
          width: 50px;

        }
        .song-operating{
          position: absolute;
          display: flex;
          right: 370px;
          li{
            border: 1px solid rgba(225,225,225,.2);
            border-radius: 50%;
            width: 38px;
            height: 38px;
            margin: 0 5px;
            display: flex;
            justify-content: center;
            color: #bdbdbe;
            i{
              font-size: 20px;
            }
            &:hover{
              border-color: rgba(225,225,225,.8);
              color: rgba(225,225,225,.8);
              cursor: pointer;
            }
          }
          li:nth-child(1){
            background: url("../img/icon_list_menu@2x.png") no-repeat -80px 0px;
            background-size: 200px 320px;
            //border-color: rgba(225,225,225,.2);

            //font-size: 19px;
            //padding-left: 5px;
            //overflow: hidden;
            //width: 20px;
            //height: 20px;
            border-color: transparent!important;
            &:hover{
              background-position-x: -120px;
            }
          }
          li:nth-child(4){
            position: absolute;
            right: -265px;

          }

        }
        .operating-hidden{
          opacity: 0;
        }
      }
      .alive-song{
        color: #FFFFFF!important;
        .song-index{
          opacity: 0;
        }
        //动态图标
        .bg-bubbles{
          position: absolute;
          //border: 1px solid red;
          width: 12px;
          height: 15px;
          left: 40px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          li{
            //border: 1px solid white;
            width: 20%;
            background-color: rgba(225,225,225,.8);
            //content: '';
            //display: block;
            height: 10px;
            bottom: 0;

          }
          li:nth-child(1){
            animation: square 1s infinite ease-in;
            //animation-delay:.1s;

          }
          li:nth-child(2){
            animation: square 1s infinite ease-in;
            animation-delay:.2s;
          }
          li:nth-child(3){
            animation: square 1s infinite ease-in;
            animation-delay:.4s;
          }
        }
        //用户操作
        .song-operating{
          li:nth-child(1){
            background-position-y: -200px;
            //border-color: rgba(225,225,225,.8);

          }
        }
      }
      @keyframes square {
        0%{
          height: 0px;
        }
        25%{
          height: 5px;
        }
        50%{
          height: 10px;
        }
        75%{
          height: 5px;
        }
        100%{
          height: 0px;
        }
      }
    }

  }
  //正在播放
  .player-now{
    border: 1px solid black;
    z-index: 2;
    font-size: 14px;
    color: #bdbdbe;
    //position: absolute;
    //right: 10%;
    //margin: 5% 0 0 0;
    .songInfo{
      //border: 1px solid blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 340px;
      //box-shadow: 0px 10px 5px -5px rgba(0,0,0,.19);

      .songPicture-wrap{
        //border: 1px solid yellow;
        width: 210px;
        height: 185px;
        background: url("../img/album_cover_player.png") no-repeat 6px 0px;
        img{
          //height: 186px;
          height: 100%;
        }
        .img-bg{
          width: 184px;
          height: 100%;
          //display: block;
          position: absolute;
          content: '';
          background: url("../img/player_cover.png") no-repeat 0px 0px;
          background-size: 200px 200px;
        }

      }
      .songCreateInfo{
        //border: 1px solid pink;
        width: 340px;
        margin: 0 0 40px 0;
         li{
           display: flex;
            justify-content: center;
           margin: 12px 0 0 0;
           height: 20px;
           i{
             margin: 0 10px;
             &:hover{
               color: rgba(225,225,225,.8);
               cursor: pointer;
             }
           }

         }



      }

    }
    .songLyric{

    }

  }
  //播放控制组件
  .player-bar{
    //background: grey;
    //border: 1px solid black;
    position: fixed;
    bottom: 32px;
    width: 85%;
    min-width: 50%;
    height: 75.68px;
    z-index: 3;
    .audio-panel{
      //border: 1px solid blue;
      height: 100%;
      .audio-control{
        width: 100%;
        height: 100%;
        //border: 1px solid blue;
        display: flex;
        align-items: center;
        //播放按钮
        .play-btns{
          //border: 1px solid green;
          //width: 160px;
          height: 100px;
          min-width: 160px;
          display: flex;
          justify-content: space-between;
          margin: 0 50px 0 0 ;
          //background: #000;

          span{
            display: flex;
            align-items: center;
            i{
              display: flex;
              cursor: pointer;
              opacity: .8;
              &:hover{
                color: black;
                opacity: 1;
              }
            }
          }
          .back{
            width: 30px;
            height: 100%;

            //background: #000;
            i{
              width: 22px;
              height: 21px;
              background: url("../img/player@2x.png") no-repeat  0px -30px;
              background-size:132px 1000px;

            }
          }
          .startAndStop{
            width: 30px;
            height: 100%;
            //background: #000;
            i{
              width: 25px;
              height: 30px;
              background: #000;
              background: url("../img/player@2x.png") no-repeat  -30px 0px;
              background-size:132px 1000px;
            }

          }
          .next{
            width: 30px;
            height: 100%;
            //background: #000;
            i{
              background: #000;
              width: 22px;
              height: 23px;
              background: url("../img/player@2x.png") no-repeat  0px -51px;
              background-size:132px 1000px;
            }
          }
          .stopButton{
            i{
              //background-position-x: -30px;
              background-position-x: 0px;

            }
          }
        }
        //进度条
        .progress{
          //border: 1px solid blue;
          width: 50%;
          height: 2px;
          //margin:0px 35px 0px 50px ;
          position: relative;
          top: 13px;
          &:hover{
            cursor: pointer;
          }
          //进度条总长度
          .bgSlot{
            height: 2px;
            width: 100%;
            //background: #000;
            background: rgba(255,255,255,.3);
            &::before{
              content: '';
              display: flex;
              border: 4px solid transparent;
            }

            &:hover{
              cursor: pointer;
            }
          }
          //已播放长度
          .overTime{
            //border: 1px solid black;
            //width: 100px;
            background: white;
            height: 2px;
            position: absolute;
            top: 0;
            &:hover{
              cursor: pointer;
            }
          }
          //当前进度指示原点
          .currentTime{
            width: 10px;
            height: 10px;
            background: white;
            position: absolute;
            top: -4px;
            //left: -5px;
            //margin-left: 40px ;
            border-radius: 50%;
            &:hover{
              cursor: pointer;
            }

          }
          //歌曲信息
          .songInfo{
            position: absolute;
            width: 100%;
            top: -30px;
            display: flex;
            justify-content: space-between;
            color: rgba(225,225,225,.8);
            //歌曲名字和作者
            .songTitle{
              //border: 1px solid red;
              max-width: 80%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
             span{
               &:hover{
                 color: #bdbdbe;
                 cursor: pointer;
               }
              }
            }
            //时间信息
            .songTime{
              //border: 1px solid red;
              display: flex;
              //当前时间
              .currentTimeText{

              }
              //总时间
              .durationTimeText{

              }
            }
          }

        }

        //更多操作
        .moreOpera{
          //border: 1px solid red;
          height: 100%;
          min-width: 280px;
          display: flex;
          justify-content: space-between;
          margin: 0 0 0 35px;

          span{
            display: flex;
            align-items: center;
            i{
              display: flex;
              //border: 1px solid red;
              background: url("../img/player@2x.png") no-repeat ;
              background-size:132px 1000px;
              opacity: .8;
              &:hover{
                    cursor: pointer;
                    opacity: 1;
                  }
            }
          }
          //列表循环
          .listCycle{
            width: 30px;
            height: 100%;
            i{
              width: 29px;
              height: 27px;
              background-position:  0px -204px;
            }
          }
          //喜欢
          .loveSelect{
            width: 26px;
            height: 100%;
            i{
              width: 29px;
              height: 25px;
              background-position:  0px -95px;
            }
          }
          //下载
          .downloadSelect{
            width: 30px;
            height: 100%;
            i{
              width: 24px;
              height: 25px;
              background-position:  0px -119px;
            }
          }
          //评论
          .commentSelect{
            width: 30px;
            height: 100%;
            i{
              width: 26px;
              height: 27px;
              background-position:  0px -400px;
            }
          }
          //纯净
          .openPure{
            width: 80px;
            height: 100%;
            i{
              width: 78px;
              height: 30px;
              background-position:  0px -281px;
            }
          }
        }
        //音量
        .volume{
          //border: 1px solid red;
          width: 100px;
          height: 100%;
          margin: 0 0 0 15px;
          display: flex;
          //background: #000;
          align-items: center;
          position: relative;
          //音量图标
          .volumeLog{
            //border: 1px solid red;
            width: 30px;
            height: 100%;
            display: flex;
            align-items: center;
            i{
              //border: 1px solid red;
              width: 30px;
              height: 25px;
              background: url("../img/player@2x.png") no-repeat 0px -142px;
              background-size:132px 1000px;
              opacity: .8;
              &:hover{
                opacity: 1;
                cursor: pointer;
              }
            }
          }
          .mutedStyle{
            i{
              background-position-y: -180px;
            }
          }
          .progressVolume{
            //border: 1px solid red;
            height: 8px;
            position: relative;
            top: 2px;
            &:hover{
              cursor: pointer;
            }
            //进度条总长度
            .bgSlotVolume{
              width: 70px;
              height: 2px;
              position: relative;
              //border: 1px solid black;
              background: rgba(255,255,255,.3);
              top: 0px;
              bottom: 10px;
            }
            //已播放长度
            .overTimeVolume{
              width: 10px;
              background: white;
              height: 2px;
              position: absolute;
              top: 0;
            }
            //当前进度指示原点
            .currentTimeVolume{
              width: 10px;
              height: 10px;
              background: white;
              position: absolute;
              top: -4px;
              //left: -5px;
              //margin-left: 40px ;
              border-radius: 50%;
              &:hover{
                cursor: pointer;
              }
            }
          }

        }
      }
    }
  }

  //背景图片
  .background-picture{
    //border: 1px solid blue;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    background: #000;
    //高斯模糊
    filter: blur(80px);
    //图片信息
    img{
      width: 100%;
      transform: scale(1.2);
      position: absolute;
      top: -40%;
      //图片亮度
      filter: brightness(60%);
      background: #000;
      //阻止默认事件
      pointer-events:none;
    }


  }
  //回到主页
  .back-home{
    //border: 1px solid red;
    position: fixed;
    z-index: 3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    right: -5%;
    color: red;
    //display: block;
    //content: '';
    background: rgba(0,0,0,.2);
    top: 0;
    &:hover{
      background: rgba(0,0,0,.5);
      transform: translateX(-15px);
    }
    transition: transform .9s;

    &:hover span{
      color: #8c8c8c;
      transform: scale(1.2) ;

    }
    span{
      //font-size: 30px;
      color: #595959;
      position: absolute;
      left: 10px;
      top: 40%;
      transition: transform .9s;

    }
  }


}
