//borderStyle
.b1{
  border:1px solid red;
}
.b2{
  border:1px solid black;
}
.b3{
  border:1px solid blue;
}
.b4{
  border:1px solid green;
}
//上下左右置0
.center{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
//margin居中
.margin_center{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.showStation{
  //不支持渐变时显示
  background-color: rgb(242, 242, 242);
  //背景 线性渐变 左上到右下
  background-image: linear-gradient(to bottom right, rgb(242, 242, 242) , white);
  height: 532px;
  //border: 1px solid red;
  position: relative;
  overflow: hidden;
}




//标题正文外框
.rotation-title .song-list-title-wrap{
  overflow: hidden;
  height: 113px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  //标题正文内框
  .song-list-title{
    width: 200px;
    height: 40px;
    overflow: hidden;
    @extend .margin_center;
    position: absolute;
  }

  //标题图片
  .title-img{
    width: 200px;
    position: absolute;

  }
}
//循环设置不同标题的top值,显示不同的title
@for $i from 0 to 5{
  .title-#{$i}
  {
    .title-img{
      @if($i>=2){//精彩推荐没有api,跳过
        top: (-50px * ($i+1));
      }
      @else{
        top: (-50px * $i);
      }

    }
  }
}

//为你推荐,官方歌单...
.rotation-title .song-list-ul{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  //border: 1px solid blue;
  width: 1200px;
  height: 50px;
  padding: 0 290px;
  flex-wrap: nowrap;
  font-size: 15px;
}


