.content-0{
  //border: 1px solid red;
  //图片文字外框
  .slide-img{

    //图片直接包裹器
    .img-wrap{

      //图片本体 大小
      .img-info{
        //border: 1px solid red;

      }
      nav{
        //border: 1px solid red;

        //鼠标移入图片播放样式
        .img_cover_wrap{
          //border: 1px solid red;

        }
      }
    }
    .text-info{
      //border: 1px solid blue;

      a{

      }


      div{
        //border: 1px solid red;
      }
    }

  }
}



//新歌首发
.content-1{
  .slide-view{
    display: flex;
    //flex-direction: row;
    flex-wrap: wrap;
    margin-top: -20px ;

    align-content: center;

    //图片文字外框
    .slide-img{
      border-bottom: 1px solid #f2f2f2;
      width: 380px;
      height: 110px;
      padding: 10px 3px;
      margin: 0  0;
      //图片直接包裹器
      .img-wrap{
        //border: 1px solid red;
        width: 86px;
        height: 86px;
        overflow: hidden;

        //图片本体 大小
        .img-info{
          //border: 1px solid red;
          width: 100%;
          height: 100%;
        }
        nav{
          //border: 1px solid red;

          //鼠标移入图片播放样式
          .img_cover_wrap{
            //border: 1px solid red;
            width: 86px;
            height: 86px;
            margin-top:10px;
            .img_cover_button{
              //border: 1px solid red;
            }
          }
        }
      }
      .text-info{
        //border: 1px solid blue;
        width: 185px;
        height: 44px;
        position: absolute;
        top: 20px;
        left: 100px;
        a{
          width: 195px;
          display:block;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
        }


        div{
          //border: 1px solid red;
        }
      }

    }
  }
  .slide-index{
    //bottom: 0;
  }
}

//新碟首发
.content-2{
  //border: 1px solid red;
  height: 710px;
  //overflow: visible;
  .slide-view{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px ;
    align-content: space-around;
    //border: 1px solid red;
    height: 620px;
    //图片文字外框
    .slide-img{
      //border: 1px solid red;
      width: 224px;
      height: 282px;
      //padding: 10px 3px;
 /*     margin: 0  0;
      margin-top: 0px;*/
      //margin-top: -50px;
      //图片直接包裹器
      .img-wrap{
        //border: 1px solid red;
        width: 224px;
        height: 224px;
        //overflow: hidden;

        //图片本体 大小
        .img-info{
          //border: 1px solid red;

        }
        nav{
          //border: 1px solid red;

          //鼠标移入图片播放样式
          .img_cover_wrap{

            .img_cover_button{

            }
          }
        }
      }
      .text-info{
        //border: 1px solid blue;
        width: 185px;
        height: 44px;
        position: absolute;
/*        top: 20px;
        left: 100px;*/
        //margin-bottom: 0px;
        bottom: 0px;
        a{
          width: 195px;
          display:block;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
        }


        div{
          //border: 1px solid red;
        }
      }

    }
  }
  .up-page{
    //border: 1px solid red;
    //top: 100px!important;

  }
  .slide-index{
    //border: 1px solid red;

  }
}


//排行榜
.content-3{
  height: 500px;
  //border: 1px solid red;

  .slide-view{
    height: 100%;

    .slide-img{
      //border: 1px solid red;
      height: 100%;
      position: relative;
      .img-wrap{
        //border: 1px solid black;
        height: 100%;
        .img-info{
          //border: 1px solid blue;
          opacity: .03;
        }
        //鼠标移入图片播放样式
        .img_cover_wrap{
          //border: 1px solid blue;
          background: transparent;
          opacity: 1;

          .img_cover_button{
            //border: 1px solid white;
            //height: 0px;
            //width: 80px;
            opacity: 0;
            top: 70px;
            transform: scale(0.5,0.5);
            transition: transform 0.4s,opacity 0.4s;
          }
          //定位线
          &:before{
            width: 35px;
            height: 0px;
            background: white;
            display: block;
            content: '';
            border: 1px solid white;
            //border-bottom: none;
            //margin-top: 50px;
            margin: 145px auto;
            opacity: 1;
            transition: opacity 1s;
          }
          &:hover:before{
            opacity: 0;
          }
        }

        //外层包裹opacity改变,里面按钮缩放和透明度都改变
        &:hover .img_cover_wrap{
          opacity: 1;
        }
        &:hover .img_cover_button{
          opacity: 1;
          transform: scale(0.6,0.6);
          height: 80px;
        }

        nav{

          //border: 1px solid red;
          .img_cover_wrap{
            //border: 1px solid blue;
            .img_cover_button{
              //border: 1px solid red;
            }
          }
        }
      }


      .text-info{
        position: absolute;
        //visibility: hidden;
        //border: 1px solid red;
        height: 220px;
        width: 170px;
        top: 160px;
        left: 0px;
        right: 0px;
        display: flex;
        margin: 25px auto;
        //隐藏默认通用标题
        >a{
          display: none;
        }
        .isRank{
          //width: 150px;
          margin:0 auto ;
          color: white;
          height: 220px;
          display: flex;
          //flex-wrap: wrap;
          flex-direction: column;
          .rank-wrap{
            //border: 1px solid yellow;
            height: 100px;
            width: 170px;
            .rank-title-wrap{
              //border: 1px solid black;
              i,a{
                //border: 1px solid green;
                color: white;

              }
              .rank-number{
                color: white;
              }
              .rank-title{
                margin-left: 5px ;
              }
            }
            .rank-singerName{
              //border: 1px solid black;
              margin-left: 17px;
              color: white;
              cursor:pointer;
            }
          }
        }
      }
    }

  }
  //排行榜背景颜色
  .slide-img-0{
    background: url("../../assets/img/dianfengbang.png") no-repeat 80px 35px,rgba(#cb6e89,.9) ;
    background-size: 65px 54px;
  }
  .slide-img-1{
    background: url("../../assets/img/dianfengbang.png") no-repeat 80px 35px,rgba(#6e97b4,.9);
    background-size: 65px 54px;
  }
  .slide-img-2{
    background: url("../../assets/img/dianfengbang.png") no-repeat 80px 35px,rgba(#6ec1ba,.9);
    background-size: 65px 54px;
  }
  .slide-img-3{
    background: url("../../assets/img/dianfengbang.png") no-repeat 80px 35px,rgba(#518e93,9);
    background-size: 65px 54px;
  }
  .slide-img-4{
    background: url("../../assets/img/dianfengbang.png") no-repeat 80px 35px,rgba(#e69a74,.9);
    background-size: 65px 54px;
  }

  .slide-index,.up-page,.next-page{
    display: none;
  }

}



//mv
.content-4{
  //border: 1px solid red;
  height: 600px!important;
  //overflow: visible;
  .slide-view{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px ;
    align-content: center;
    //border: 1px solid red;
    height: 500px;
    //图片文字外框
    .slide-img{
      //border: 1px solid red;
      width: 224px;
      height: 231px;
      //padding: 10px 3px;
      margin: 0  0;
      //图片直接包裹器
      .img-wrap{
        //border: 1px solid red;
        width: 224px;
        height: 126px;
        //overflow: hidden;

        //图片本体 大小
        .img-info{
          //border: 1px solid red;

        }
        nav{
          //border: 1px solid red;

          //鼠标移入图片播放样式
          .img_cover_wrap{
            //border: 1px solid red;
            /*width: 86px;
            height: 86px;*/
            //margin-top:10px;
            height: 126px;
            .img_cover_button{
              //border: 1px solid red;
            }
          }
        }
      }
      .text-info{
        //border: 1px solid blue;
        width: 185px;
        height: 44px;
        position: absolute;
        /*        top: 20px;
                left: 100px;*/
        //margin-bottom: 0px;
        //bottom: 0px;
        a{
          //border: 1px solid black;
          width: 195px;
          display:block;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
        }
        span{
          //border: 1px solid black;
          color: #999999;
          font-size: 15px;
          user-select:none;
        }


        div{
          //border: 1px solid red;
        }
      }

    }
  }
  .up-page{
    //border: 1px solid red;
    //top: 100px!important;

  }
  .slide-index{
    //border: 1px solid red;

  }
}
