
/*歌手页面背景 立即登录*/
.singer-show {
  .bg_singer{
    background: url("../../../public/img/bg_singer.jpg") no-repeat center center;
    width: 100%;
    height: 378px;
    overflow: hidden;
    position: relative;
    .section_inner{
      .singer_push_tit{
        background: url("../../../public/img/singer_tit@2x.png") no-repeat ;
        background-size: 800px 210px;
        width: 500px;
        height: 60px;
        //border: 1px solid red;
        position: absolute;
        top: 103px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .singer_push_desx{
        background: url("../../../public/img/singer_tit@2x.png") no-repeat 0px -60px ;
        background-size: 800px 210px;
        width: 260px;
        height: 50px;
        //border: 1px solid red;
        position: absolute;
        top: 173px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .singer_push_btn_login{
        position: absolute;
        //height: 100px;
        border: 1px solid #3e3e3e;
        border-radius: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 174px;
        height: 48px;
        bottom: 100px;
        .singer_push_btn_text{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 48px;
          border: 0px solid transparent;
          color: white;
          font-size: 18px;
        }
        //transition: border-color 2s;

        & :hover{
          //border: 1px solid #ffffff;

          //transition: border-color 0.8s;
        }
      }
    }
  }
}

.singer{
  height: 1300px;

  .singer-list-show{
    //border: 1px solid red;
    //width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /*导航*/
    .tags{
      width: 1200px;
      border: 1px solid black;
      height: 223px;
      padding: 65px 0 0 40px;
      overflow: hidden;
      .tags-ul{
        border: 1px solid black;
        display: flex;
        font-size: 14px;
        height: 43px;
        .tags-li{
          //border: 1px solid blue;
          margin-right: 30px;
        }
      }
    }

  }
}

